/* grid.css
    Home page grid and media queries here */

.grid{
    display:grid;
}

header .button-header{
    gap:1rem;
}

@media (width <= 25.625rem){
    #header-city-img{
        top:0rem;
    }
}

@media (width <= 31.25rem){
    main .reports{
        overflow-y: visible;
    }

    .time{
        margin:0 !important;
        padding-top:1rem;
    }

    .date{
        padding-bottom:1rem;
    }
}

@media (width > 31.25rem){
    .reports div{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .reports em{
        grid-column: span 2;
    }

    .time, .date, .reports em{
        text-align:right;
    }
}

@media (width > 43.4375rem){
    header .button-header, header .button{
        display:inline-block;
    }
    
    header .button{
        width:16rem;
        padding:1rem 1.25rem;
        margin-bottom:3.85rem;
    }

    header .button.white{
        margin-right:1rem;
    }

}

@media (width > 45.5625rem){
    header section{
        margin:10rem 1rem 0 1rem;
    }

    header p{
        max-width:60rem;
        margin-left: auto;
        margin-right: auto;
    }

    header h1{
        font-size:3rem;
    }
}   

@media (width > 93.75rem){
    main{
        grid-template-columns: 30% 70%; 
    }

    main .left{
        border-right: 0.15rem solid #CFDBE4;
    }
}