/* reports.css
    CSS for emergency report cards here */

/* Colours:
    Darker blue: #153F56
    Lighter blue: #3F677D
    Yellow: #FFCC00
    Dark gray: #4D4D4D
    Light gray: #B3B3B3
    Very light gray: #E7EBED
*/

.reports div{
    display:inline-block;
    width:100%;

    background: white;
    border-radius:0.45rem;

    margin-top:1.5rem;
    padding:1.25rem;
    padding-top:1.15rem;
}

.reports div h3{
    font-size:1.4rem;
    order:0;
}

.reports .location{
    order:2;
    font-size:1.4rem;
}

.reports .time{
    order:1;
    font-size:1.1rem;
    margin-top:0.35rem;
}

.reports .date{
    order:3;
    font-size:1.1rem;
    margin-top:0.12rem;
}

.reports em{
    grid-column: span 2;
    order:4;
    font-style:normal;
    font-size:1.4rem;
    font-weight:600;
}

.reports div h3, .time, .date, .location, .reports em{
    margin:0;
}
