/* map.css */

/* Colours:
    Darker blue: #153F56
    Lighter blue: #3F677D
    Yellow: #FFCC00
    Dark gray: #4D4D4D
    Light gray: #B3B3B3
    Very light gray: #E7EBED
*/

/* Base Styles */
* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: #E7EBED;
}

header {
    background: rgba(0, 0, 0, 0.3);
}

#title {
    color: #ffffff;
    margin: 0;
    margin-top: 20px;
    display: flex;
}

#nav-bar {
    display: flex;
    padding: 0 20px;
    background-color: #153F56;
}

#header-city-img {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header section {
    margin: 0 !important;
    padding: 7rem 1rem 7rem 1rem;
    text-align: center;
}

header h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
    color: white;
}

header p {
    font-size: 1.25rem;
    margin-bottom: 8rem;
    color: white;
}

header .button.white {
    color: #153F56;
    background-color: white;
}

header .button.blue {
    color: white;
    background-color: #153F56;
}

header .button {
    box-sizing: content-box;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.75rem 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    margin: 0 1rem 0rem 1rem;
    font-size: 1.5rem;
}

header .button:hover,
header .button:focus {
    text-decoration: underline;
}

header .button.white:hover,
header .button.white:focus {
    background-color: #DDDDDD;
}

header .button.blue:hover,
header .button.blue:focus {
    background-color: #0D2634;
}

.grid-container {
    display: grid;
    background-color: white;
    position: relative;
    grid-template-columns: 35% 65%; 
    gap: 20px;
    padding: 20px;
}

main section h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    font-size: 2.5rem;
    padding: 2rem 2.25rem;
    margin-top: 0;
}

main section .results {
    font-family: 'Lato', sans-serif;
    font-weight: 600; 
    color: #4D4D4D;
    font-size: 1.25rem;
    margin-top: -2.75rem;
    padding-left: 2.25rem;
}

main .reports {
    background-color: #E7EBED;
    padding: 0.25rem 2.25rem;
    margin-top: 1.5rem;
    overflow-y: scroll;
    max-height: 580px; 
    padding-right: 10px;
    margin-top: 20px;
}

.reports .grid {
    display: inline-block;
    width: 100%;
    background: white;
    border-radius: 0.45rem;
    margin-top: 1.5rem;
    padding: 1.25rem;
    padding-top: 1.15rem;
    cursor: pointer;
    transition: border 0.3s, background-color 0.3s;
}

.reports .grid:hover {
    border: 0.15rem solid #96C7FF;
    background-color: #F0F8FF;
}

.reports .grid h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    order: 0;
    margin: 0;
}

.reports .location {
    order: 2;
    font-size: 1.4rem;
    margin: 0;
}

.reports .time {
    order: 1;
    font-size: 1.1rem;
    margin-top: 0.35rem;
    margin: 0;
}

.reports .date {
    order: 3;
    font-size: 1.1rem;
    margin-top: 0.12rem;
    margin: 0;
}

.reports em {
    grid-column: span 2;
    order: 4;
    font-style: normal;
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    color: #153F56;
    margin: 0;
}

.reports .grid.highlight {
    border: 2px solid #96C7FF;
    background-color: #F0F8FF;
}

.left {
    background-color: #f8f9fa;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.right {
    background-color: #ffffff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

#map-container {
    width: 100%;
    height: 735px;
    background-color: #eaeaea;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative; 
}

#popup-container {
    position: absolute;
    z-index: 2000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 24rem;
    max-height: calc(100% - 1rem);
    overflow-y: auto;
    display: none;
    cursor: default; 
}

#popup-container h3,
#popup-container p {
    margin: 1.5rem 0 0 1.5rem;
}

#popup-container h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; 
    line-height: 2.5rem;
    font-size: 1.85rem;
}

#popup-container img {
    width: 100%;
    height: auto;
    max-height: 40%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 1rem;
}

#popup-container .location {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.25rem;
}

#popup-container .datetime {
    font-size: 1.35rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: #4D4D4D;
}

#popup-container p {
    font-size: 1.25rem;
    margin-top: 0;
}

#popup-container p strong {
    color: #B3B3B3;
}

#popup-container .status-btn {
    background-color: #153F56; 
    color: white;
    border: none;
    border-radius: 0.3rem;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    pointer-events: auto;
    cursor: pointer;
    width: 21rem;
    transition: background-color 0.3s, color 0.3s;
}

#popup-container .status-btn:hover {
    background-color: #0D2634; 
}

#popup-container .close-btn {
    pointer-events: auto;
    cursor: pointer;
    color: #B3B3B3;
    background-color: white;
    border: none;
    font-size: 1.5rem;
    position: absolute;
    top: 10px;
    right: 5px;
}

#popup-container .status-btn,
#popup-container .close-btn {
    pointer-events: auto;
    cursor: pointer;
}

#popup-container h3,
#popup-container p,
#popup-container img,
#popup-container h4 {
    cursor: default;
}

.status-popup {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid #ccc;
    padding: 20px;
    z-index: 3000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    border-radius: 8px;
    width: 400px;
    display: none; 
}

.status-popup.visible {
    display: block;
}

.status-popup h3 {
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
    text-align: center;
}

.status-popup h4 {
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 0;
    color: #B3B3B3;
}

.status-popup p {
    margin-top: 0;
    margin-bottom: 2rem;
}

.status-popup .update-status {
    background-color: #F0F0F0; 
    color: #333;
    border: 1px solid #ccc;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.status-popup .update-status.selected {
    background-color: #153F56; 
    color: white;
    border-color: #153F56;
}

.status-popup .submit-status {
    background-color: #153F56; 
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
    font-size: 1.25rem;
}

.status-popup .submit-status:hover {
    background-color: #0D2634; 
}

.status-popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #B3B3B3;
}

.status-popup .update-status:hover {
    background-color: #ddd; 
}

.status-popup .update-status.selected:hover {
    background-color: #0D2634; 
}

.status-popup .submit-status:hover {
    background-color: #0D2634; 
}

.status-popup h3,
.status-popup h4,
.status-popup p {
    cursor: default;
}

.status-popup .update-status,
.status-popup .submit-status,
.status-popup .close-btn {
    pointer-events: auto; 
    cursor: pointer;      
}

.reports {
    max-height: 580px;
    overflow-y: auto;
    padding-right: 10px;
    margin-top: 20px;
}

@media (max-width: 800px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}

@media (width <= 25.625rem) {
    #header-city-img {
        top: 0rem;
    }
}

@media (width <= 37.875rem) {
    main .reports {
        overflow-y: visible;
    }

    .time {
        margin: 0 !important;
        padding-top: 1rem;
    }

    .date {
        padding-bottom: 1rem;
    }
}

@media (width > 37.875rem) {
    .reports .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .reports em {
        grid-column: span 2;
    }

    .time,
    .date,
    .reports em {
        text-align: right;
    }
}

@media (width > 43.4375rem) {
    header .button-header,
    header .button {
        display: inline-block;
    }

    header .button {
        width: 16rem;
        padding: 1rem 1.25rem;
        margin-bottom: 3.85rem;
    }

    header .button.white {
        margin-right: 1rem;
    }
}

@media (width > 45.5625rem) {
    header section {
        margin: 10rem 1rem 0 1rem;
    }

    header p {
        max-width: 60rem;
        margin-left: auto;
        margin-right: auto;
    }

    header h1 {
        font-size: 3rem;
    }
}

@media (width > 89.375rem) {
    .grid-container {
        grid-template-columns: 35% 65%;
    }

    .reports .grid {
        display: inline-block;
        width: 100%;
        margin-top: 1.5rem;
        padding: 1.25rem;
        padding-top: 1.15rem;
    }

    .time,
    .date,
    .reports em {
        text-align: left;
    }
}

@media (width > 103.4375rem) {
    main .left {
        border-right: 0.15rem solid #CFDBE4;
    }

    .reports .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .reports em {
        grid-column: span 2;
    }

    .time,
    .date,
    .reports em {
        text-align: right;
    }
}

a {
    text-decoration: none;
}

.status-popup label {
    display: block;
    margin-top: 15px;
    font-size: 1rem;
}

.status-popup .entered-passcode {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

